@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.dynamicdataSpFx {
    .Table {
        display: table;
    }
    .Title {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .Heading {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .row {
        display: table-row;
    }
    .cell {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }
}